[submodule "src/glfw"]
	path = src/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/deps/glm"]
	path = src/deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/deps/tetgen"]
	path = src/deps/tetgen
	url = https://github.com/libigl/tetgen.git
